@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.centro{
    font-size: 70px;
    font-family:'Kdam Thmor Pro', sans-serif ;
    color: #fff;
    margin-left: 200px;
}